torch
torchvision
torchaudio
diffusers==0.27.0
transformers==4.32.1
decord==0.6.0
einops
omegaconf
onnxruntime-gpu
gradio
accelerate
imageio-ffmpeg
opencv-python
tqdm
numpy
Pillow
matplotlib
python-dateutil
